@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.SearchWrap {
  width: 27%;
  height: 104%;

  background-color: white;
  position: absolute;

  filter: drop-shadow(2px 2px 3px #a7a4a4);
}

.SearchNav {
  height: 20%;

  background-color: #f6d7a9;
}

.SearchPlace {
  width: 62%;
  height: 25%;

  margin-left: 15%;
  margin-top: 17%;
  padding-left: 1%;

  border: none;
  border-radius: 5px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 95%;

  &:focus {
    outline: none;
  }

  font-family: Pretendard-Variabl, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

h1 {
  font-family: "S-CoreDream-3Light";
  font-size: 3rem;
  font-weight: 600;
  margin-left: 23%;

  width: 1%;
  height: 1%;

  margin-left: 35%;
}

.ScheduleMenuWrap {
  top: 5%;
  left: 95%;

  z-index: 1;
}

.ScheduleMenu {
  z-index: 1;

  background-color: #f6d7a9;
  border: none;
  border-radius: 100%;

  width: 4vw;
  height: 4vw;

  top: 40%;

  position: absolute;
}

.BrowserMap > .ScheduleMenuWrap > .ScheduleMenu > .menu {
  width: 2vw;
  height: 2vw;
  left: 23%;
  top: 20%;

  position: absolute;
  z-index: 1;
}

.PopUpList {
  position: absolute;

  z-index: 1;

  top: 75%;
}

.CountryListWrap {
  width: 17vw;
  height: 85vh;

  margin-left: -10vw;
  margin-top: -1vh;
  background-color: #f6d7a9;

  transition: ease-in;
}

.CountryWrap {
  position: absolute;
  width: 14vw;
  height: 80vh;

  background-color: white;
  margin-left: 1vh;
  top: 1vh;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.country {
  width: 14vw;
  height: 7vh;

  border-radius: 10px;
  /* 
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.7); */
}

.country:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.7);
}

.country > p {
  font-size: 2rem;
  font-weight: 400;
  font-family: Pretendard-Variable;

  margin-top: 8%;
  margin-left: 5%;
}

.WritenButtonWrap {
  width: 4vw;
  height: 4vw;

  background-color: #f6d7a9;
  border: none;
  border-radius: 100%;

  position: absolute;

  z-index: 1;

  top: 15%;
  left: 95%;
}

.writeIcon {
  position: absolute;
  z-index: 1;

  top: 25%;
  left: 28%;

  width: 45%;
  height: 45%;
}

.WritenWrap {
  width: 64vw;
  height: 51vw;

  background-color: #f6d7a9;

  position: absolute;
  right: -20%;
  top: 40%;

  border-radius: 15px;
}

.WritenContentWrap {
  display: flex;
  flex-direction: column;
}

.WritenTitle {
  width: 95%;
  height: 10vw;
  position: absolute;

  left: 1.5vw;
  top: 2vw;

  background-color: white;
  border-radius: 15px;
  border: 1px solid black;
}
.WritenTitle > .titleInput {
  border: none;

  position: absolute;
  width: 95%;
  height: 10vw;

  left: 1.5vw;

  &:focus {
    outline: none;
  }
}

.WritenContent {
  width: 95%;
  height: 35vw;
  position: absolute;
  background-color: white;

  top: 25%;
  left: 1.5vw;
  border: 1px solid black;
  border-radius: 15px;
}

.WritenContent > .contentInput {
  width: 95%;
  height: 35vw;

  border-radius: 15px;
  border: none;

  &:focus {
    outline: none;
  }
}

.MoneyWrap {
  width: 90%;
  height: 20vw;

  background-color: #f6d7a9;

  margin-left: 1vw;
  margin-top: 1vw;

  border: none;
  border-radius: 15px;

  display: flex;
  flex-direction: column;

  text-align: center;
}

.MoneyWrap > .MoneyTitle {
  width: 5vw;
  height: 2vw;

  background-color: white;

  border: 1px solid red;
  border-radius: 10px;

  margin-top: 2vw;
  margin-left: 2vw;

  font-family: Pretendard-Variable, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;

  text-align: center;
}

.MoneyWrap > .productName {
  width: 20vw;
  height: 1vw;

  background-color: white;

  margin-bottom: 1vw;
  margin-left: 2vw;
  margin-top: 1vw;

  font-family: Pretendard-Variable, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.MoneyWrap > .MyCountryMoney {
  width: 20vw;
  height: 4vw;

  margin-left: 2vw;
  background-color: white;

  border-radius: 15px;

  font-family: Pretendard-Variable, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.MoneyWrap > .KoreaMoney {
  width: 20vw;
  height: 4vw;

  margin-left: 2vw;
  background-color: white;

  border-radius: 15px;

  margin-top: 2vw;

  font-family: Pretendard-Variable, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
