.CheckScheduleWrap > .back {
  margin-left: 2vw;
  margin-top: 3vw;
}

.schedules {
  display: flex;
  flex-direction: column;
}

.schedule {
  width: 80%;
  height: 60vw;

  margin: 5vw auto;

  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
}

.scheduleTitle {
  margin-top: 3vw;
  margin-left: 2vw;
  margin-bottom: 5vw;
  font-family: Pretendard-Variable, sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
}
.scheduleContent {
  border-top: 2px solid #f6d7a9;

  height: 46vw;
}

.InputContent {
  font-weight: 400;
  font-family: Pretendard-Variable, sans-serif;
  font-size: 1.3rem;

  margin-left: 5vw;
  margin-top: 25%;
}

.Edit {
  width: 13vw;
  height: 13vw;

  background-color: #f6d7a9;
  border-radius: 100%;

  position: absolute;

  top: 60vw;
  left: 75vw;
}

.Edit2 {
  width: 13vw;
  height: 13vw;

  background-color: #f6d7a9;
  border-radius: 100%;

  position: absolute;

  top: 130vw;
  left: 75vw;
}
.Edit3 {
  width: 13vw;
  height: 13vw;

  background-color: #f6d7a9;
  border-radius: 100%;

  position: absolute;

  top: 200vw;
  left: 75vw;
}
.Edit4 {
  width: 13vw;
  height: 13vw;

  background-color: #f6d7a9;
  border-radius: 100%;

  position: absolute;

  top: 270vw;
  left: 75vw;
}
.editIcon {
  position: relative;

  margin-top: 3vw;
  margin-left: 4vw;

  width: 6vw;
  height: 6vw;
}
.editIcon2 {
  position: relative;

  margin-top: 3vw;
  margin-left: 4vw;

  width: 6vw;
  height: 6vw;
}
.editIcon3 {
  position: relative;

  margin-top: 3vw;
  margin-left: 4vw;

  width: 6vw;
  height: 6vw;
}
.editIcon4 {
  position: relative;

  margin-top: 3vw;
  margin-left: 4vw;

  width: 6vw;
  height: 6vw;
}
