.MobileSearchWrap {
  z-index: 1;
  top: 1%;
  right: 0.3%;
  /* left: 0.1%; */

  width: 100%;
  height: 10%;

  background: none;
}

.MobileSearchWrap > .MobileSearchPlace {
  position: absolute;
  right: 5vw;
  top: 5vh;

  padding-left: 10vw;

  width: 80%;
  height: 50%;

  z-index: 1;

  font-family: Pretendard-Variabl, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 3%;
}

.hide {
  display: none;
}

.SearchWrap > .SearchPlace::placeholder {
  position: absolute;
  left: 10vw;
}

.PlaceInfoWrap {
  z-index: 1;

  top: 10vw;
}

.PlaceInfoWrap > .PlaceImageWrap {
  position: absolute;

  width: 110vw;
  height: 80vw;

  border: 5px solid #f6d7a9;
  border-radius: 50% / 50%;

  left: -4vw;
}

.PlaceInfoWrap > .PlaceImageWrap > .PlaceImage {
  width: 110vw;
  height: 80vw;

  border-radius: 50% / 50%;
}

.PlaceInfoWrap > .PlaceAdress {
  position: absolute;

  z-index: 1;

  top: 85vw;

  font-family: Pretendard-Variable, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  left: 25vw;
}

.PlaceInfoWrap > .PlaceContentWrap {
  width: 100%;
  height: 170vw;

  background-color: #fff;

  margin-top: 43vh;

  border-top: 1px solid #000;
}

.PlaceInfoWrap > .PlaceContentWrap > .PlaceName {
  width: 100%;
  height: 15%;
  border: 1px solid black;
  border-radius: 10px 10px 0px 0px;

  margin-top: 5vw;
  margin-left: 5vw;

  font-family: Pretendard-Variable sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.PlaceInfoWrap > .PlaceContentWrap > .PlaceName > p {
  position: absolute;

  left: 35%;
  top: 40%;
}

.PlaceInfoWrap > .PlaceContentWrap > .PlaceContent {
  border: 1px solid #000;
  border-collapse: collapse;

  width: 100%;
  height: 48%;

  margin-left: 5vw;

  font-family: Pretendard-Variable sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.PlaceInfoWrap > .PlaceContentWrap > .PlaceContent > div {
  text-align: right;
}

.PlaceInfoWrap > .PlaceContentWrap > .PlaceContent > div::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.PlaceInfoWrap > .PlaceContentWrap > .PlaceContent > div::before {
  content: "";
  display: inline-block;
  width: 100%;
}

.MenuListWrap {
  top: 90%;
  left: 80%;

  z-index: 1;
}

.MenuList {
  z-index: 1;

  background-color: #f6d7a9;
  border: none;
  border-radius: 100%;

  width: 15vw;
  height: 15vw;
}

.MenuList > .menu {
  position: absolute;

  width: 10vw;
  height: 10vw;

  right: 2.5vw;
  top: 1vh;
}

/* .PopUpList {
  position: absolute;

  z-index: 1;
} */

.MenuWrap {
  width: 15vw;
  height: 60vw;

  border: none;

  background-color: #f6d7a9;

  position: absolute;
  bottom: 1vw;

  z-index: 1;

  background: rgba(246, 215, 169, 0.57);
  display: flex;
  flex-direction: column;
}

.Menu {
  width: 15vw;
  height: 15vw;

  display: flex;
  flex-direction: column;

  border-radius: 100%;

  background-color: #f6d7a9;

  justify-content: center;
}

.first {
  margin-top: -2vh;
  margin-bottom: 2vh;
}

.second {
  margin-bottom: 2vh;
}

.MenuIcon {
  position: absolute;

  width: 10vw;
  height: 10vw;

  left: 15.5%;
}
