.TopNav {
  display: flex;
}

.TopNav > .back {
  width: 7%;
}

.SldeBar {
  overflow-x: scroll;
  overflow-y: hidden;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.slde1,
.slde2 {
  width: 120vw;
  height: 30vh;

  background-color: #c1c1c1;
}
